<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="public/index.css">
    
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

  
   <!-- component -->
<!-- This is an example component -->
<div class="h-screen font-sans login bg-cover">
    <h1>RECIPE PROJECT</h1>
    <div class="container mx-auto h-full flex flex-1 justify-center items-center">
        
        <div class="w-full max-w-lg">
          <div class="leading-loose">
            <form class="max-w-sm m-4 p-10 bg-white bg-opacity-25 rounded shadow-xl" method="POST" action="/recipes">
                <p class="text-white font-medium text-center text-lg font-bold">Enter your Recipe</p>
                  <div class="">
                    <label class="block text-sm text-white" for="recipe_name">Recipe Name</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" name="recipe_name" type="recipe_name" id="recipe_name"  placeholder="recipe_name" aria-label="recipe_name" required>
                  </div>
                  <div class="mt-2">
                    <label class="block  text-sm text-white">Description</label>
                     <textarea class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white"
                      type="recipe_description" id="recipe_description" placeholder="descript your recipe" name="description" arial-label="recipe_description" required>
                      </textarea>
                  </div>
                  <div class="">
                    <label class="block text-sm text-white" for="image_name">Recipe Image</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-300 rounded focus:outline-none focus:bg-white" name="image" type="image_name" id="image_name"  placeholder="describe the image" aria-label="image_name" required>
                  </div>
    
                  <div class="mt-4 items-center flex justify-between">
                    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 hover:bg-gray-800 rounded"
                      type="submit">Submit a Recipe</button>
                   
                  </div>
                
    
            </form>
    
          </div>
        </div>
      </div>
    </div>
    <style>
      .login{
      /*
        background: url('https://tailwindadmin.netlify.app/dist/images/login-new.jpeg');
      */
      background: url('https://images.unsplash.com/photo-1542528180-a1208c5169a5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1057&q=80');
      background-repeat: no-repeat;
      background-size: cover;
    }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>